.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--space-lg);
  gap: var(--space-xxl);
  background: var(--color-secondary);
  height: 100vh;

  &__header {
    .sidebar__logo {
      font-family: var(--font-family-secondary);
      color: var(--color-primary);
      font-size: var(--font-base-x);
      font-weight: var(--weight-regular);
      padding: var(--space-xlg) 0;
    }
  }

  .sidebar__search {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs);
    font-weight: var(--weight-regular);
    font-size: var(--font-xxs);
    border-radius: var(--space-sm);
    background: var(--color-background);
    padding: var(--space-sm);

    #side-search {
      border: none;
      background: none;
      outline: none;
      color: var(--color-text-secondary);

      &::placeholder {
        color: var(--color-text-secondary);
      }
    }
  }

  .nav-menu {
    &__elements {
      display: flex;
      flex-direction: column;
      font-size: var(--font-base-x);
      font-weight: var(--weight-regular);
      color: var(--color-text-secondary);
      gap: 0.4rem;
    }
    &__element {
      padding: 0 var(--space-ssm);

      &--active {
        border-left: 0.3rem solid var(--color-primary);
        color: var(--color-text);
      }
    }
  }
}
