.notes-panel {
  display: flex;
  flex-direction: column;
  width: 32.2rem;
  min-width: 32.2rem;
  height: 100vh;
  background: var(--color-background);
  border-right: 0.1rem solid var(--color-border);
  position: sticky;
  top: 0;
  // overflow: hidden;
  position: relative;

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: var(--space-16) 0;

    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-border);
      border-radius: var(--radius-8);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: var(--font-13);
    font-weight: var(--weight-regular);
    color: var(--color-primary);
    text-transform: capitalize;
    padding: var(--space-10) var(--space-28);
    border-top: 0.1rem solid var(--color-gray);
    border-bottom: 0.1rem solid var(--color-gray);

    &--pinned {
      text-transform: uppercase;
      padding: var(--space-28) var(--space-28) 0;
      border: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    padding: var(--space-10) var(--space-12);
  }

  &__collapse {
    content: '';
    position: absolute;
    width: var(--space-28);
    aspect-ratio: 1/1;
    border-radius: var(--radius-50);
    border: 0.1rem solid var(--color-gray);
    top: 12rem;
    left: 30.7rem;
    background: var(--color-background);
    color: var(--color-text-secondary);
    z-index: 100;
  }
}
