.search-overlay {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: var(--space-20) var(--space-16);
  background: var(--color-secondary);
  gap: var(--space-36);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;

    span {
      background: var(--color-text);
      width: 2rem;
      height: 0.2rem;

      &:last-child {
        width: 1.3rem;
      }
    }
  }

  &__logo {
    font-family: var(--font-family-secondary);
    font-size: var(--font-17);
    font-weight: var(--weight-regular);
    color: var(--color-primary);
  }

  &__close {
    font-size: var(--font-16);
    color: var(--color-text);
  }
}
